#contactPage {
    min-height: auto;
    width: 150vw;
    max-width: 90rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.contactDesc {
   padding: 1rem;
   font-size: 1.3rem;
   font-weight: 300; 
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 90rem;
}

.name, .email, .Contact_No, .msg{
    font-size: 1.3rem;
    width: 100%;
    max-width: 73rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background: rgb(170, 229, 155);
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem; 
    font-size: 1.3rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}