#intro{
    height: cals(100vh - 4rem);  /* 4rem = height of navbar */ 
    width: 120vw;
    max-width: 73rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative; 
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    left: 37rem;
    z-index: -1;
    object-fit: cover;
    height: 99vh;
    width:48vw;
}

.introContent {
    height: 950px;
    width: 100;
   /* position: absolute;
    left: 6;
   right: 6rem;
    top: 14rem;*/
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hello {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 0.75rem;
}

.introName {
    color: white;
}


.introPara {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px; 
}

.btn {
    background: rgb(170, 229, 155);
    margin-top:  auto;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width:840px) {    /* When screen size comes to 840px and less tha that */
    .bg {
        left: -10vw;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px) {    /* When screen size comes to 840px and less tha that */
    .bg {
        left: -20vw;
    }
    
}