#intro{
    height: cals(100vh - 4rem);  /* 4rem = height of navbar */ 
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative; 
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    left: 37rem;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    height: 100vh;
    width: 100vw;
   /* position: absolute;
    left: 6;
   right: 6rem;
    top: 14rem;*/
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hello {
    font-size: 1.5rem;
    font-weight: 100;
}

.introName {
    color: white;
}

.introPara {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px; 
}

.btn {
    background: rgb(170, 229, 155);
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 1rem;
}

@media screen and (max-width:840px) {    /* When screen size comes to 840px and less tha that */
    .bg {
        left: -10vw;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px) {    /* When screen size comes to 840px and less tha that */
    .bg {
        left: -20vw;
    }
    
}